<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divyanshu.draw">

    <application>
        <activity
            android:name=".activity.DrawingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>